{% extends 'bootstrap.html' %}
{% load bootstrap5 %}

{% block bootstrap5_before_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout {{ user.username }}</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</head>
{% endblock %}