{% extends "base.html"%}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-4">
    <div class="border-r-8 border-red-100">
        <div>
            <h1 class="font-bold text-xl m-10 text-gray-700">Nordism Resource Vault</h1>
        </div>
        <div class="ml-10 text-sm my-96">
            <h2>Contributor info:</h2>
            <p>Name: {{contributor.user.username}}</p>
            <p>Verification status: {{contributor.verified}}</p> 
        </div>
    </div>
    <div class="col-span-3 bg-gray-100">
        <div id="user_management_widget" class="flex justify-end">
            {% if user.is_authenticated %}
                <a href="{% url 'logout_user' %}" class="btn-primary m-10">Logout</a>
            {% else %}
                <a href="{% url 'login_user' %}" class="btn-primary m-10">Login</a>
                <a href="{% url 'signup_user' %}" class="btn-primary m-10">Signup</a>
            {% endif %}
        </div>
        <div class="mb-5 p-10 bg-white rounded-md shadow-md ml-10 mr-10">
            <h3 class="mb-2 font-semibold">Upload resources to the vault</h3>
            <div class="bg-gray-200 rounded-md shadow-md p-10">
                <div id="resource-form" class="flex items-start">
                    <label>File
                    <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
                    </label>
                    <button class="btn-primary" v-on:click="submitFile()">Submit</button>
                </div>
            </div>
        </div>
        <div class="mb-20 p-10 mr-10 ml-10">
            <div>
                <h2 class="pb-5 font-bold">Uploaded resources:</h2>
            </div>
            <div id="resource-list">
                <ul class="flex items-evenly justify-evenly">
                    <li class="p-2 m-2 text-xs font-bold rounded-md shadow-md bg-white w-48 inline-block" v-for="resource in resources">
                        <h3>[[ resource.description ]]</h3>
                        <ul>
                            <li>Uploaded: [[ resource.create_time | clean_date ]]</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app.js' %}"></script>

{% endblock %}