{% extends 'user_management_base.html' %}

{% block content %}
<div>
<h1>Log in</h1>
    {% if messages %}
            {% for message in messages %}
                <div class="'alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
    </form>
    <form class="row g-3" action="{%url 'login_user'%}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Login</button>
      <div>
        <p>If you do not have an account you can signup!</p>
        <a  href="{% url 'signup_user' %}" role="button">Signup</a>
      </div>
</div>
{% endblock %}