{% extends 'user_management_base.html' %}

{% block content %}
<div class="grid grid-cols-3">
    <div class="col-start-2 col-end-2">
        <div class="flex justify-center text-bold text-red-200">
            <h1>Log in</h1>
            {% if messages %}
                    {% for message in messages %}
                        <div class="">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
        <div class="flex justify-center">
            <form action="{%url 'login_user'%}" method="post">
                {% csrf_token %}
                    <div class="">
                        <div class="">
                            <div class="">
                                <label class="">Username</label>
                                {{form.username}}
                            </div>
                        </div>
                        <div class="my-5">
                            <div class="">
                                <label class="">Password</label>
                                {{form.password}}
                            </div>
                        </div>
                            <button type="submit" class="btn-primary m-10">Login</button>
                        </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}